<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Disasters</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">

    <style>
   body {
   font-size: 18px;
   line-height: 1.5;

   }

        .title {
        font-family: "Oswald", sans-serif;
        }

        .text-white {
        color: #FFF;
        }

    </style>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand title" href="/">⛑️ Disaster Response Project</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav small">
                <li><a href="https://github.com/brunoarine/disaster-response">Github</a></li>
                <li><a href="https://www.udacity.com/">Made with Udacity</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="jumbotron"
     style="background-image: url('/static/pexels-denniz-futalan-942560.jpg'); background-size: cover; background-position: center;">
    <div class="container text-white">
        <h1 class="text-center title hidden-sm hidden-xs">⛑️ Disaster Response Project</h1>
        <br/>
        <p class="text-center">Analyzing message data with NLP for an improved disaster response</p>
        </br>
        <div class="row">
            <div class="col-lg-12 form-group-lg">
                <form action="/go" method="get">
                    <input type="text" class="form-control form-control-lg" name="query"
                           placeholder="Enter a message to classify (example: we are having water shortage, need food and medical assistance)">
                    <div class="col text-center">
                        <br/>
                        <button type="submit" class="btn btn-lg btn-danger">Classify Message</button>
                    </div>
                </form>
            </div>
        </div>

        {% block message %}
        {% endblock %}
    </div>
</div>

<div class="container fs-4">
    {% block content %}


    <p>In the wake of a disaster, there are millions of communications, either direct or via social media. But they
        happen right when disaster response organizations have the least capacity to filter and pull out the most
        critical messages. Furthermore, only one in every thousand messages is relevant to the disaster response
        professionals, according to Robert Munro, former CTO of Figure Eight (now Appen).</p>

    <br>
    <p>Disasters are typically responded to by different organizations that take care of different parts of the problem.
        So one organization will care about water, another will care about blocked roads, another will care about
        medical supplies. But sorting through help requests by keywords only is ineffective. For example, when you look
        at a keyword like "water," that's a tiny percent of the time that it will map to someone who needs fresh
        drinking water. Moreover, that will miss people who say they're thirsty but don't use the word "water."</p>

    <br>

    <p> To tackle this problem, this project uses thousands of pre-labeled tweets and text messages
        from real-life disasters to train a supervised machine learning model. The model then predicts what the message is about, so that
        each aid organization gets its correspondent help request. More details and source code is available <a
                href="https://github.com/brunoarine/disaster-response">here</a>.
    </p>


    <div class="page-header">
        <h1 class="text-center">Overview of Training Dataset</h1>
    </div>
    {% endblock %}

    {% for id in ids %}
    <div id="{{id}}"></div>
    {% endfor %}
</div>

<div class="text-center">
    © 2021 by <a href="https://github.com/brunoarine">Bruno Arine</a>. Made with <a href="https://www.udacity.com">Udacity</a>.
</div>

<script type="text/javascript">
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
    for(let i in graphs) {
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }







</script>

</body>
</html>
